* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

$font : 'Fira Code';
$dark : #363537;
$blue : #2D6B9F;
$citrone : #DCCE15;
$red: #EF2D56;
$orange: #ED7D3A;
$light : #fff;

body {
    font-family: $font;
    font-size: 16px;
}


.top {
    height: 100vh;
    background: $orange;
    color: $light;
}

.menu {
    background: $dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 30px 10px;
    z-index: 2;
    transition: padding .4s ease-in-out;

    @media(min-width:800px) {
        display: flex;
        justify-content: space-around;
    }

    // &__logo {}

    &__list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        text-align: center;
        background: $citrone;
        max-height: 0px;
        overflow: hidden;
        transition: max-height .7s ease-in-out;

        @media(min-width:800px) {
            list-style: none;
            flex-direction: row;
            justify-content: flex-end;
            position: relative;
            min-height: 40px;
            background: transparent;
            width: auto;
            align-items: center;
        }

        &__item {
            margin: 0%;
            padding: 15px 20px;

            @media(min-width:800px) {
                padding: 0px;
                margin-left: 25px;
            }

            a {
                color: $light;
                text-decoration: none;
                transition: .3s ease-in-out;

                @media(min-width: 800px) {
                    color: $light;
                    cursor: pointer;
                }

                &:hover {
                    opacity: .6;
                }
            }
        }
    }
}

.navigation--active {
    max-height: 400px;

}

.hamburger {
    padding: 10px;
    display: inline-block;
    border: 0px;
    background: transparent;
    cursor: pointer;

    @media(min-width:800px) {
        display: none;
    }

    &__box {
        width: 35px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    @mixin hamburger-line {
        width: 100%;
        height: 3px;
        background: $light;
        position: absolute;
    }

    &__inner {
        @include hamburger-line;
        left: 0%;
        top: 50%;
        transform: translateY(-50%);
        position: relative;

        &::before,
        &::after {
            @include hamburger-line;
            content: '';
            left: 0%;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }
}

/*
    NAWIGACJA
*/

.wrapper-info {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.btn {
    padding: 15px 55px;
    background: transparent;
    /*
        ADD ANIMATION // BEFORE& AFTER
    */
    border: 2px solid $blue;
    font-family: $font;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 15px 0 0 0;
}

/*
    END HEADER
*/

.offert {
    min-height: 100vh;
    background: $citrone;

    h1 {
        padding: 15px;
        width: 100%;
        text-align: center;
        background: $blue;
        color: $light;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

        @media(min-width:800px) {
            grid-template-columns: repeat(3, 1fr);

        }

        .box {

            &__inner {
                border: 1px solid $blue;
                margin: 20px 15px;

                &__head {
                    background: $dark;
                    color: $light;
                    padding: 15px;
                    text-align: center;
                }
            }
        }

        // text-align: center;

    }
}

.nav--padding {
    padding: 15px 10px;

}